@import url('reset.css');





@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    height: 100%;
    margin: 0%;
}


#wrap { 
    width: 100%;
    height: 100%;
    background: url("../images/main_bg.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}

/* ν—¤λ” */
#header_wrap { width: 100%; height: 80px; background: rgba(0, 0, 0, 0.5);}

#header { width: 1200px; height: 80px; margin: 0 auto;}

#header h1 { float: left; width: 30%; padding-top: 15px;}
nav { float: left; width: 70%;}
nav ul.gnb { float: right; margin-top: 30px; }
nav ul.gnb li { float: left; padding: 0 30px; }
nav ul.gnb li a { color: #aaa; font-size: 18px; }
nav ul.gnb li a:hover { color: #fff; border-bottom: 2px solid #aaa; padding-bottom: 23px; }

#img_text { width: 100%; height: 50%; text-align: center;}

.text_1 { position: relative; top: 70%; color: #aaa; font-size: 38px; font-family: 'GmarketSansMedium';} 
.text_1 span { font-family: 'GmarketSansBold'; color: rgb(236, 167, 39);} 

.text_2 { position: relative; top: 73%; color: #aaa; font-size: 18px; } 


#notice_wrap { width: 100%;}
#notice { position: relative; width: 1200px; margin: 0 auto; padding-top: 50px; }

.notice_title { 
    color: #999; 
    font-family: 'GmarketSansBold'; 
    font-size: 18px; 
    border-bottom: 1px solid #555; 
    width: 330px;
    padding-bottom: 5px;
}

.notice_list { width: 330px; }
.notice_list li { border-bottom: 1px solid #555; padding: 10px 0;}
.notice_list li a { color: #999; font-size: 15px; font-weight: 300;}
.notice_list li a:hover { color: #fff;}

.more { position: absolute; top: 0; left: 300px;}



/* ν‘Έν„° */
#footer_wrap { 
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute; 
    bottom: 0;
}

#footer { width: 1200px; height: 80px; margin: 0 auto;}

.f_logo { float: left; width: 20%; padding-top: 20px;}
.copy { float: left; width: 60%; padding-top: 30px;}
.sns { float: right; width: 20%; padding-top: 20px;}
.sns li { float: left; padding-left: 20px;}
