@import url('reset.css');





@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




#wrap { width: 100%; background: rgb(223, 209, 156);}

/* ν—¤λ” */
#header_wrap { position: fixed; width: 100%; height: 80px; background: rgba(0, 0, 0, 0.5); z-index: 999;}

#header { width: 1200px; height: 80px; margin: 0 auto;}

#header h1 { float: left; width: 30%; padding-top: 15px;}
nav { float: left; width: 70%;}
nav ul.gnb { float: right; margin-top: 30px; }
nav ul.gnb li { float: left; padding: 0 30px; }
nav ul.gnb li a { color: #aaa; font-size: 18px; }
nav ul.gnb li a:hover { color: #fff; border-bottom: 2px solid #aaa; padding-bottom: 23px; }

#banner { position: relative; width: 100%; background: #282826; margin-bottom: 100px; overflow: hidden;}


.img_text { 
    position: absolute; 
    top: 65%;
    left: 35%;
    transform: translate(-50%. -50%);
    color: #aaa;
    font-size: 30px;
    font-family: 'GmarketSansMedium';
}


#contents_wrap_1 { width: 100%; }
#contents_1 { width: 1200px; margin: 0 auto; }

h2.sub_title {
    color: #000;
    font-size: 40px;
    font-family: 'GmarketSansBold';
    text-align: center;
    margin-bottom: 100px;
}

.box_1 { 
    float: left;
    width: 380px; 
    height: 400px; 
    margin-right: 30px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.box_2 { 
    float: left;
    width: 380px; 
    height: 400px; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.box_1 img { width: 100%; }
.box_2 img { width: 100%; }

.box_1:hover img { opacity: 0.7; }
.box_2:hover img { opacity: 0.7; }


.news_tit { font-size: 18px; font-weight: 500; margin: 15px 0 10px 0;}
.news_text { font-size: 14px; }
.news_date { font-size: 14px; margin-top: 30px; color: #999;}


.order { width: 100%; text-align: center; margin: 30px 0 0 0; }

.order span { vertical-align: middle; margin: 0 1px; }

.order_bt button {
    background: #ccc;
    width: 25px;
    height: 25px;
    border: 1px solid #666;
    cursor: pointer;
    font-size: 12px;
}

.order_bt button:hover, 
.order_bt button.active { 
    background: #555; 
    color: #fff; 
    border: 0; 
}


.b_title { color: #000; text-align: center; font-size: 30px; font-weight: 500; padding: 10px 0 30px 0;}


.box_text {
    float: left;
    width: 33.333%;
    background: #fff;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    text-align: justify;
    line-height: 26px;
}

.box_img { 
    float: left;
    width: 33.333%; 
}

.box_img img { width: 100%;}


/* ν‘Έν„° */
#footer_wrap { width: 100%; background: #999; margin-top: 150px;}

#footer { width: 1200px; height: 80px; margin: 0 auto;}

.f_logo { float: left; width: 20%; padding-top: 20px;}
.copy { float: left; width: 60%; padding-top: 30px;}
.sns { float: right; width: 20%; padding-top: 20px;}
.sns li { float: left; padding-left: 20px;}
